# For each email you use you can create separate .gitconfig file in home directory with email and name
#
# Example
# /home/bogdan/.gitconfig-personal:
# [user]
#     email = example@email.com
#     name = Bogdan Petrukovich

[include]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/**"] path = ~/.gitconfig-work
[includeIf "gitdir:~/itr/**"] path = ~/.gitconfig-itr

[init]
  defaultBranch = main
[core]
  editor = nvim
  excludesFile = ~/.gitignore
  # set \n when committing, leave \r\n or \r locally on checkout
  autocrlf = input
[push]
  autoSetupRemote = true
[merge]
  conflictStyle = zdiff3
[branch]
  sort = -committerdate
[commit]
  verbose = true
[fetch]
  prune = true

# Delta
# https://github.com/dandavison/delta
[core]
  pager = delta
[delta]
  navigate = true # navigate with n and N
  dark = true
  # side-by-side view has line-numbers activated by default
  side-by-side = true
[interactive] # git add -p or git add -i
  diffFilter = delta --color-only
