set -gx K8S_WORK_NAMESPACE "namespace"

set -gx SSM_FLAGS \
  --region xxx \
  --target xxx \
  --document-name AWS-StartPortForwardingSessionToRemoteHost \
  --parameters xxx \
  --profile xxx

set -gx CODEARTIFACT_DOTNET_FLAGS \
  --tool dotnet
  --repository xxx \
  --domain xxx \
  --domain-owner xxx \
  --region xxx

set -gx CODEARTIFACT_NPM_FLAGS \
  --tool npm
  --repository xxx \
  --domain xxx \
  --domain-owner xxx \
  --region xxx \
